In [1]:
from preamble import *

In [28]:
columns =  ['PT', 'AU', 'BA', 'BE', 'GP', 'AF', 'BF', 'CA', 'TI', 'SO', 'SE', 'BS',
       'LA', 'DT', 'CT', 'CY', 'CL', 'SP', 'HO', 'DE', 'ID', 'AB', 'C1', 'RP',
       'EM', 'RI', 'OI', 'FU', 'FX', 'CR', 'NR', 'TC', 'Z9', 'U1', 'U2', 'PU',
       'PI', 'PA', 'SN', 'EI', 'BN', 'J9', 'JI', 'PD', 'PY', 'VL', 'IS', 'PN',
       'SU', 'SI', 'MA', 'BP', 'EP', 'AR', 'DI', 'D2', 'EA', 'EY', 'PG', 'WC',
       'SC', 'GA', 'UT', 'PM', 'OA', 'HC', 'HP', 'DA']

In [31]:
myfile = "/home/andre/Documentos/SOLAR/WoS/all/savedrecs.txt"
import codecs

doc = codecs.open(myfile,'rU','UTF-16')
df = pd.read_csv(doc,usecols=columns, sep='\t')

#print(set(df.keys()).difference(columns))

In [32]:
print(df.keys())

Index(['PT', 'AU', 'BA', 'BE', 'GP', 'AF', 'BF', 'CA', 'TI', 'SO', 'SE', 'BS',
       'LA', 'DT', 'CT', 'CY', 'CL', 'SP', 'HO', 'DE', 'ID', 'AB', 'C1', 'RP',
       'EM', 'RI', 'OI', 'FU', 'FX', 'CR', 'NR', 'TC', 'Z9', 'U1', 'U2', 'PU',
       'PI', 'PA', 'SN', 'EI', 'BN', 'J9', 'JI', 'PD', 'PY', 'VL', 'IS', 'PN',
       'SU', 'SI', 'MA', 'BP', 'EP', 'AR', 'DI', 'D2', 'EA', 'EY', 'PG', 'WC',
       'SC', 'GA', 'UT', 'PM', 'OA', 'HC', 'HP', 'DA'],
      dtype='object')

In [33]:
df.iloc[0]

PT                                                    J
AU                                OREGAN, B; GRATZEL, M
BA                                                  NaN
BE                                                  NaN
GP                                                  NaN
AF                                OREGAN, B; GRATZEL, M
BF                                                  NaN
CA                                                  NaN
TI    A LOW-COST, HIGH-EFFICIENCY SOLAR-CELL BASED O...
SO                                               NATURE
SE                                                  NaN
BS                                                  NaN
LA                                              English
DT                                              Article
CT                                                  NaN
CY                                                  NaN
CL                                                  NaN
SP                                                  NaN
HO                                                  NaN
DE                                                  NaN
ID    PHOTOELECTROCHEMICAL CONVERSION; ELECTROCHEMIS...
AB    THE large-scale use of photovoltaic devices fo...
C1    SWISS FED INST TECHNOL, INST PHYS CHEM, CH-101...
RP                                                  NaN
EM                                                  NaN
RI    Graetzel, Michael/G-4870-2011; Wei, Zhanhua/D-...
OI                     Wei, Zhanhua/0000-0003-2687-0293
FU                                                  NaN
FX                                                  NaN
CR    ALONSO N, 1981, REV PHYS APPL, V16, P5, DOI 10...
                            ...
SN                                            0028-0836
EI                                                  NaN
BN                                                  NaN
J9                                               NATURE
JI                                               Nature
PD                                               OCT 24
PY                                                 1991
VL                                              3.5e+02
IS                                                 6346
PN                                                  NaN
SU                                                  NaN
SI                                                  NaN
MA                                                  NaN
BP                                                  737
EP                                                  740
AR                                                  NaN
DI                                     10.1038/353737a0
D2                                                  NaN
EA                                                  NaN
EY                                                  NaN
PG                                                    4
WC                           Multidisciplinary Sciences
SC                  Science & Technology - Other Topics
GA                                                GL696
UT                                  WOS:A1991GL69600062
PM                                                  NaN
OA                                                  NaN
HC                                                  NaN
HP                                                  NaN
DA                                           2018-05-11
Name: 0, Length: 68, dtype: object

In [34]:
df.head()

,PT,AU,BA,BE,...,OA,HC,HP,DA
0,J,"OREGAN, B; GRATZEL, M",NaN,NaN,...,NaN,NaN,NaN,2018-05-11
1,J,"NAZEERUDDIN, MK; KAY, A; RODICIO, I; HUMPHRYBA...",NaN,NaN,...,NaN,NaN,NaN,2018-05-11
2,J,"Hagfeldt, A; Boschloo, G; Sun, LC; Kloo, L; Pe...",NaN,NaN,...,NaN,Y,N,2018-05-11
3,J,"Kudo, A; Miseki, Y",NaN,NaN,...,NaN,Y,N,2018-05-11
4,J,"Atwater, HA; Polman, A",NaN,NaN,...,NaN,Y,N,2018-05-11

Index(['PT', 'AU', 'BA', 'BE', 'GP', 'AF', 'BF', 'CA', 'TI', 'SO', 'SE', 'BS',
       'LA', 'DT', 'CT', 'CY', 'CL', 'SP', 'HO', 'DE', 'ID', 'AB', 'C1', 'RP',
       'EM', 'RI', 'OI', 'FU', 'FX', 'CR', 'NR', 'TC', 'Z9', 'U1', 'U2', 'PU',
       'PI', 'PA', 'SN', 'EI', 'BN', 'J9', 'JI', 'PD', 'PY', 'VL', 'IS', 'PN',
       'SU', 'SI', 'MA', 'BP', 'EP', 'AR', 'DI', 'D2', 'EA', 'EY', 'PG', 'WC',
       'SC', 'GA', 'UT', 'PM', 'OA', 'HC', 'HP', 'DA'],
      dtype='object')

In [35]:
temp = df["TI"]
print(temp)
#temp.plot(kind='bar', xTitle = 'State name', yTitle = "# of incidents", title = 'Top States with highest number of Gun Violence')

0      A LOW-COST, HIGH-EFFICIENCY SOLAR-CELL BASED O...
1      CONVERSION OF LIGHT TO ELECTRICITY BY CIS-X2BI...
2                             Dye-Sensitized Solar Cells
3      Heterogeneous photocatalyst materials for wate...
4           Plasmonics for improved photovoltaic devices
5      Organometal Halide Perovskites as Visible-Ligh...
6      High-efficiency solution processable polymer p...
7      LIGHT-INDUCED REDOX REACTIONS IN NANOCRYSTALLI...
8                    Nanowire dye-sensitized solar cells
9      Efficient Hybrid Solar Cells Based on Meso-Sup...
10     Powering the planet: Chemical challenges in so...
11     A metal-free polymeric photocatalyst for hydro...
12     Efficient planar heterojunction perovskite sol...
13                                   Plastic solar cells
14     Design rules for donors in bulk-heterojunction...
15     Organic photovoltaics - Polymer-fullerene comp...
16     Efficient photochemical water splitting by a c...
17     Enhanced power-conversion efficiency in polyme...
18     Solid-state dye-sensitized mesoporous TiO2 sol...
19           Photoinduced reactivity of titanium dioxide
20                            Dye-sensitized solar cells
21     Co3O4 nanocrystals on graphene as a synergisti...
22     THE EVOLUTION AND EXPLOSION OF MASSIVE STARS ....
23     Polymer solar cells with enhanced open-circuit...
24     Solar energy conversion by dye-sensitized phot...
25     Polymer-Fullerene Bulk-Heterojunction Solar Cells
26     NEW GRIDS OF STELLAR MODELS FROM 0.8 TO 120 M-...
27                                   Polymer solar cells
28            2.5% efficient organic plastic solar cells
29     Direct splitting of water under visible light ...
                             ...
470    Asymmetric tandem organic photovoltaic cells w...
471    ENERGY-BALANCE IN THE SOLAR TRANSITION REGION ...
472    Wettability and Surface Free Energy of Graphen...
473    Nickel-Cobalt Hydroxide Nanosheets Coated on N...
474    Photon upconversion based on sensitized triple...
475    Microalgae as biodiesel & biomass feedstocks: ...
476    Observational constraints on the dynamics of t...
477    Continuous-time random-walk model of electron ...
478    Efficiency of solar water splitting using semi...
479    Physical chemical principles of photovoltaic c...
480    The theory of brown dwarfs and extrasolar gian...
481    Nanostructured carbon for energy storage and c...
482    Dye-Sensitized Solar Cells with a High Absorpt...
483    Improved performance of amorphous silicon sola...
484    Ionic transport in hybrid lead iodide perovski...
485    Visible-light driven heterojunction photocatal...
486    Charge carrier formation in polythiophene/full...
487                            Polymer-based solar cells
488    ASTROPHYSICAL METHODS TO CONSTRAIN AXIONS AND ...
489    Unique Properties of Halide Perovskites as Pos...
490                       Poly(ionic liquid)s: An update
491    RELATIVISTIC FIREBALLS AND THEIR IMPACT ON EXT...
492    Photocatalysis with solar energy at a pilot-pl...
493    Solar-energy conversion and light emission in ...
494    Lanthanide ions as spectral converters for sol...
495    Quantum Dot Solar Cells. The Next Big Thing in...
496    Intermolecular and supramolecular photoinduced...
497    Efficient Water Oxidation Using Nanostructured...
498    Catalysis of the electrochemical reduction of ...
499           MODEL OF HIGH-ENERGY PHASE OF SOLAR FLARES
Name: TI, Length: 500, dtype: object

In [30]:
df.keys()

Index(['AU', 'TI', 'SO', 'DT', 'LA', 'DE', 'ID', 'AB', 'C1', 'CR', 'PU', 'PY',
       'WC', 'SC'],
      dtype='object')

In [35]:
df.iloc[0]

AU                                                  NaN
TI                                               NATURE
SO                                                  NaN
DT                                                  NaN
LA                                              Article
DE    PHOTOELECTROCHEMICAL CONVERSION; ELECTROCHEMIS...
ID    THE large-scale use of photovoltaic devices fo...
AB    SWISS FED INST TECHNOL, INST PHYS CHEM, CH-101...
C1                                                  NaN
CR                                                   19
PU                                               LONDON
PY                                              3.5e+02
WC                  Science & Technology - Other Topics
SC                                                GL696
Name: J, dtype: object